.tile{
    width: 100px;
    height: 100px;
}

.black-tile {
    background-color: #A85D5D;
}

.white-tile {
    background-color: #FFD2A6;
}

.checker-piece{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
}

.checker-piece:hover{
    cursor: grab;
}

.checker-piece:active{
    cursor: grabbing;
}