#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gameButtons {
  padding: 2em;
}

button {
  display: block;
  width: 15rem;
  margin: 0 auto;
  margin-top: 1em;
}